<% flash.each do |name,msg|%>
<div class="container">
  <% if name=="error"%>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <%=msg%>
    </div>
  </div>
  <%else%>
    <div class="ui positive message">
      <i class="close icon"></i>
      <div class="header">
        <%=msg%>
      </div>
    </div>
  <%end%>

</div>
<% end%>
